.g-hidden-placeholder {
   visibility: hidden;
   font-size: 0.8rem;
}

.g-error-input {
   text-align: left;
   color: red;
   font-weight: 300;
   font-size: 0.8rem;
}

.profile-avatar-input {
   display: none;
}

.profile-avatar-container-label {
   height: 100px;
   width: 100px;
   border-radius: 50%;
   overflow: hidden;
   display: flex;
  justify-content: center;
   align-items: center;

}

.profile-avatar-container-label svg {
   transform: scale(2);
}

.profile-avatar-container-label img {
   height: 100%;
   width: 100%;
  
}

.cho-svg {
   transform: scale(.8);
}

.profile-avatar-background {
   display: none;
}

/* .profile-avatar-container-label:hover .profile-avatar-background {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   height: 100px;
   width: 100px;
   background: #E2E2E2;
   position: absolute;
   cursor: pointer;
} */
.profile-avatar-container-label:hover .profile-avatar-background {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   height: 100px;
   width: 100px;
   background: #e2e2e2ce;
   position: absolute;
   cursor: pointer;
}
.iconAvatar{
   background-color: #E2E2E2;
   height: 100px;
   width: 100px;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
color:#3D3D3D;
   font-weight: 300;
   
   font-family: 'Montserrat', 'sans-serif';
}